**

!bun.lock
!bunfig.toml
!package.json
!tsconfig.base.json
!tsconfig.json
!turbo.json

!app/
!app/apps/
!app/apps/**
!app/packages/
!app/packages/**

**/.env
**/.env.*
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
**/test-results
**/tests
**/*.log
