name: PR Check

on:
  pull_request:
    branches: [main]
    paths:
      - 'apps/**'
      - 'packages/**'

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true


jobs:
  apps-and-packages:
    name: Apps and Packages Validation
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - name Validate all apps and packages
        uses: ./.github/actions/pr-validate/typescript

  api:
    name: Python API Validation
    runs-on: ubuntu-slim
    needs: detect-changes
    if: needs.detect-changes.outputs.api == 'true'
    steps:
      - uses: actions/checkout@v6

      - name: Validate Python Code
        uses: ./.github/actions/pr-validate/python
        with:
          package_dir: apps/api
          python_version: ${{ vars.PYTHON_VERSION }}
