name: PR Check

on:
  pull_request:
    branches: [main]
    paths:
      - 'apps/**'
      - 'packages/**'

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  detect-changes:
    name: Detect changed areas
    runs-on: ubuntu-slim
    outputs:
      packages-and-apps: ${{ steps.filter.outputs.packages-and-apps }}
      api: ${{ steps.filter.outputs.api }}
    steps:
      - uses: actions/checkout@v6
      - name: Path filter
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            packages-and-apps:
              - 'packages/**'
              - 'apps/kitchen-panel/**'
              - 'apps/tablet-app/**'
              - 'apps/admin-panel/**'
              - 'apps/public-web/**'
            api:
              - 'apps/api/**'

  apps-and-packages:
    name: Apps and Packages Validation
    runs-on: ubuntu-slim
    needs: detect-changes
    if: needs.detect-changes.outputs.packages-and-apps == 'true'
    steps:
      - uses: actions/checkout@v6

      - name: Validate all Apps and Packages
        uses: ./.github/actions/pr-validate/typescript
      
      - name: Comment coverage on PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: coverage-summary.md

  api:
    name: Python API Validation
    runs-on: ubuntu-slim
    needs: detect-changes
    if: needs.detect-changes.outputs.api == 'true'
    steps:
      - uses: actions/checkout@v6

      - name: Validate Python Code
        uses: ./.github/actions/pr-validate/python
        with:
          package_dir: apps/api
          python_version: ${{ vars.PYTHON_VERSION }}

      - name: Comment coverage on PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: apps/api/coverage-summary.md
